#Common Config across Tests

#Credentials for sign up / sign in


userEmail=testauto_140720183559@getnada.com
userPass=1qaz!QAZ

googleEmail=
googlePass=

#Sign up details
countryCode=SG
phone=8002720026
userFirstName=James
userLastName=Conns
company=deskera
password=1qaz!QAZ

#Personalize Details
industryType=IT Services
companySize=50-100
manage=Organized sales information

#Create Org Details
city=singapore
state=Singapore
country=Singapore
phoneNumber=6589565
taxResidency=singapore
financialStartDate=2020-06-17
bookBeginningDate=2020-06-17
addressLine1=10 Eunos Road 8#05-33 Singapore Post Centre
addressLine2=Singapore 408600 REPUBLIC OF SINGAPORE
zipcode=12345
