
#Contact Test data

##Add Contact information
ContactName=Ceena pvt ltd
contactMail= ceena@getnada.com
UEN_Number= UEN989888898
TAX_Number= XYZ1234
address= 382 Havelock Road,Singapore
postal= 339696

city=singapore
zip=611011
state=Singapore
country=Singapore


##Second contact
ContactName1= Edward pvt ltd
contactMail1= edward100@getnada.com

##Edit contact info
UpdatedContactName= Updated_Edward
UpdatedUEN_Number= Updated_UEN989888898
UpdatedTAX_Number= Updated_XYZ1234
UpdatedcontactMail1= Edward100@getnada.com
Updatedaddress= Updated_382 Havelock Road,Singapore
Updatedstate= Updated_Bishan
Updatedpostal= Updated_339696
Updatedcity= Updated_singapore
Updatedcountry= Updated_singapore

##Copied contact information
CopiedContactName= Copied_Edward
currency= SGD
paymentTerms= NET 30

