#Employeer Test Data
#Add employee information
fname=Automation
lname=user
email=testauto_290920204917@getnada.com
desg=Automation engineer
dob=4/23/1993
doj=7/1/2020
basicsal=30000

##Immigration Details
nric=abcd1234567
nationality=singaporean
country=Singapore
sop=7/2/2020

##Edit employee
fName=Rename
bSal=45000
eEmail=editemp123@getnada.com
eDoj=8/1/2020

##AddComponent
coName=Meal Allowance
dType=Donation

##Edit Component
eComponent=Edit Component

##Add PaySchedule
spay=Salary Pay
dateVal=01/08/2020 - 31/08/2020

##Add Singapore citizen
fnames=Singapore
lnames=Citizen
allowancea=4000
deductiona=1500
