userEmail=testauto_100720161459@getnada.com
userPass=1qaz!QAZ

quantity=4
discount=100


# Bank Reconcile details 

bcode= HSBC123
bname= HSBC
bDesc= One of the earliest banks to establish in Singapore.
bankUsername=username
bankPassword=secret

firstTransactionDate=2020-05-11
secondTransactionDate=2020-05-17
unitPrice=10000