#Product test data

nonTrackedProductName=Media advertising services
nonTrackedProductName1=Media advertising services updated

trackedProductName=Gold Earrings
trackedProductName1=Gold Earrings Copy

BOMProductName=Engineering bill of materials
barcode=P12120
description=Add Product for test purpose
description1=Add Product for test purpose updated

purchasePrice=100
salesPrice=150
purchasePrice1=2000
salesPrice1=2500

defaultPurchaseAccount=Purchases
defaultPurchaseAccount_Tracked=Accrued Purchases
defaultPurchaseAccount_BOM=Accrued Purchases
updatedPurchaseAccount=Purchase Return
defaultPurchasePrice=0
defaultPurchaseTax=TX (7%)
defaultSalesAccount=Sales
updatedSalesAccount=Sales Return
defaultSalesPrice=0
defaultSalesTax=SR (7%)

defaultUnitOfMeasurement=Unit
updatedUnitOfMeasurement=Pieces
defaultCostOfGoodSoldAccount=Cost of Goods Sold
defaultInventoryAccount=Inventory
defaultManufacturingAccount=Manufacturing cost
defaultStockAdjustmentAccount=Inventory Adjustment
defaultWarehouseCode=Primary Warehouse
 


openingQuanity=100
openingValuation=500

componentproduct1=Consulting
componentproduct2=Placements
quantity1=100
quantity2=200

####Add User details
firstName=David
lastName=Miller
emailid=david@yopmail.com
passWord=1qaz!QAZ
