##userEmail=testauto_060720114948@getnada.com
##userPass=1qaz!QAZ

googleEmail=brettlee9091@gmail.com
googlePass=V@deskera2019

countryCode=SG
phone=8002720026
userFirstName=James
userLastName=Conns
company=deskera
password=1qaz!QAZ


industryType=IT Services
companySize=50-100
manage=Organized sales information

cc=424242424242
expMonth=02
expYear=24
pin=242

address1=Address1
address2=Addres2
city=C
city=Geylang Bahru
city=singapore
zip=611011
state=S
state=Bishan
state=Singapore
country=Singapore
country=Singapore
phoneNumber=9988998899
phoneNumber=65895658
fax=12345
website=abc.com

##Add contact and product
ContactName=Ceena pvt ltd
ProductName=Deskera Product
quantity=2
discount=100
