#COA Test data

##Add COA information
Type=Bank
Code=ABC013
Name=TestBankAccountC013
Description=Test description

CashCode=ABC014
CashAccName=TestBankAccountC014
CashAccDescription=Test description
CashType=Cash

Name1 = TestBankAccountC013
Name2 = TestBankAccountUpdated43
Code1 = AB0065

##Edit COA information
UpdatedCode=AB0068
UpdatedName=TestBankAccountUpdated48
UpdatedDescription=Test description updated
UpdatedCurrency = USD
