

userEmail=testauto_180620193816@getnada.com

userPass=1qaz!QAZ

googleEmail=brettlee9091@gmail.com
googlePass=V@deskera2019

countryCode=IN
phone=8002720026
userFirstName=James
userLastName=Conns
company=deskera
password=1qaz!QAZ


taxResidency=singapore
financialStartDate=2020-06-17
bookBeginningDate=2020-06-17
addressLine1=10 Eunos Road 8#05-33 Singapore Post Centre
addressLine2=Singapore 408600 REPUBLIC OF SINGAPORE
city=singapore
state=Singapore
zipcode=12345



nonTrackedProductName=Compute Services
trackedProductName=Tshirts
BOMProductName=Engineering bill of materials
barcode=P12120
description=Add Product for test purpose
purchasePrice=1000
salesPrice=1500

openingQuanity=100
openingValuation=500

componentproduct1=Consulting
componentproduct2=Placements
quantity1=100
quantity2=200





coupon=DSK-JEI202
