userEmail=testauto_090720100959@getnada.com
userPass=1qaz!QAZ

quantity=4
discount=100


# Bank Reconcile details 

bcode= HSBC723111
bname= HSBC121
bDesc= One of the earliest banks to establish in Singapore.
bankUsername=username
bankPassword=secret

firstTransactionDate=2020-05-11
secondTransactionDate=2020-05-17
unitPrice=10000


countryCode=SG
phone=8002720026
userFirstName=James
userLastName=Conns
company=deskera
password=1qaz!QAZ


industryType=IT Services
companySize=50-100
manage=Organized sales information

city=singapore
state=Singapore
country=Singapore
phoneNumber=6589565
taxResidency=singapore
financialStartDate=2020-06-17
bookBeginningDate=2020-06-17
addressLine1=10 Eunos Road 8#05-33 Singapore Post Centre
addressLine2=Singapore 408600 REPUBLIC OF SINGAPORE
zipcode=12345


nonTrackedProductName=Media advertising services
nonTrackedProductName1=Media advertising services updated


trackedProductName=Gold Earrings
trackedProductName1=Gold Earrings Copy

BOMProductName=Engineering bill of materials
barcode=P12120
description=Add Product for test purpose
description1=Add Product for test purpose updated

purchasePrice=1000
salesPrice=1500
purchasePrice1=2000
salesPrice1=2500
