#COA Test data

##Add COA information
Type=Bank
Code=BA000020
Name=TestBankAccountBA20
Description=Test description

Name1 = TestBankAccountBA20
Name2 = TestBankAccountUpdated40
##Edit COA information
UpdatedCode=AB0060
UpdatedName=TestBankAccountUpdated40
UpdatedDescription=Test description updated
UpdatedCurrency = USD
