

userEmail=testauto_170620183021@getnada.com

userPass=1qaz!QAZ

googleEmail=brettlee9091@gmail.com
googlePass=V@deskera2019

countryCode=IN
phone=8002720026



taxResidency=singapore
financialStartDate=2020-06-17
bookBeginningDate=2020-06-17
addressLine1=10 Eunos Road 8#05-33 Singapore Post Centre
addressLine2=Singapore 408600 REPUBLIC OF SINGAPORE
city=singapore
state=Singapore
zipcode=12345


nonTrackedProductName=Table
trackedProductName=Tshirts
barcode=P1212
description=Product for test
purchasePrice=1000
salesPrice=1500

openingQuanity=100
openingValuation=500

userFirstName=James
userLastName=Conns
company=deskera
password=1qaz!QAZ

industryType=IT Services
companySize=50-100
manage=Organized sales information

cc=424242424242
expMonth=02
expYear=24
pin=242




coupon=DSK-JEI202
