


##userEmail=testauto_170620133642@getnada.com
userEmail=testerp@getnada.com
##userPass=1qaz!QAZ
userPass=TestERP@123
googleEmail=brettlee9091@gmail.com
googlePass=V@deskera2019

countryCode=IN
phone=8002720026

userFirstName=James
userLastName=Conns
company=deskera
password=1qaz!QAZ

industryType=IT Services
companySize=50-100
manage=Organized sales information

cc=424242424242
expMonth=02
expYear=24
pin=242

address1=Address1
address2=Addres2
city=C
city=Geylang Bahru
zip=611011
state=S
state=Bishan
country=C
country=Singapore
phoneNumber=9988998899
fax=12345
website=abc.com

##Add Contact information
ContactName=Ceena
contactMail= ceena@getnada.com
UEN_Number= UEN989888898
TAX_Number= XYZ1234
address= 382 Havelock Road,Singapore
postal= 339696

##Second contact
ContactName1= Edward
contactMail1= edward100@getnada.com


##Bank Account Details
bcode= HSBC7232
bname= HSBC
bDesc= One of the earliest banks to establish in Singapore.
coupon=DSK-JEI202
