######This file contains 

userEmail=testauto_270520165643@getnada.com
userPass=V@deskera2019



countryCode=IN
phone=8002720026

userFirstName=James
userLastName=Conns
company=deskera
password=1qaz!QAZ

industryType=IT Services
companySize=50-100
manage=Organized sales information


cc=424242424242
expMonth=02
expYear=24
pin=242

address1=Address1
address2=Addres2
zip=611011
city=C
state=S
country=C
coupon=DSK-JEI202
