######This file contains 

userEmail=amol.tambe+0043@deskera.com
userPass=deskQA!@#
countryCode=US
phone=8008786799

userFirstName=James
userLastName=Conns
company=deskera
password=1qaz!QAZ

industryType=IT Services
companySize=50-100
manage=Organized sales information


cc=424242424242
expMonth=02
expYear=24
pin=242

address1=Address1
address2=Addres2
zip=611011
city=C
state=S
country=C
coupon=DSK-JEI202

